<div class="login-page">
  <mat-card class="mat-elevation-z12">
<!--    <mat-card-title style="text-align:center;">SignIn/SignUp</mat-card-title>-->
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
        <mat-card-content>
          <form class="sign-in-form" novalidate #signInform="ngForm" (ngSubmit)="onSubmit1(signInform)">
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                [pattern]="emailPattern"
                name="email"
                [(ngModel)]="userInfor.email"
                #email="ngModel">
              <mat-error *ngIf="email.touched && !email.valid">
                <span *ngIf="email.errors.required">Email is required</span>
                <span *ngIf="email.errors.pattern">A@yahoo.com or A@gmail.com</span>
              </mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="6"
                maxlength="32"
                [pattern]="passwordPattern"
                name="password"
                [(ngModel)]="userInfor.password"
                #password="ngModel">
              <mat-error *ngIf="password.touched && !password.valid">
                <span *ngIf="password.errors.required">Password is required</span>
                <span *ngIf="password.errors.minlength || password.errors.maxlength">Length from 6 to 32 characters</span>
                <span *ngIf="!(password.errors.minlength || password.errors.maxlength) && password.errors.pattern">
                  Only alphabet, digit and at least one of !@#$%^&*
                </span>
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
<!--            <div>-->
<!--              <mat-checkbox>Remember Me!</mat-checkbox>-->
<!--              <a routerLink="/forgot-password" >Forgot password ?</a>-->
<!--            </div>-->
            <mat-checkbox aria-label="Remember Me" class="mat-checkbox remember-me ng-tns-c167-53 mat-accent" id="mat-checkbox-7">
              <label class="mat-checkbox-layout" for="mat-checkbox-7-input">
<!--                <div class="mat-checkbox-inner-container">-->
<!--                <input type="checkbox" class="mat-checkbox-input cdk-visually-hidden" id="mat-checkbox-7-input" tabindex="0" aria-label="Remember Me" aria-checked="false">-->
<!--                  <div matripple="" class="mat-ripple mat-checkbox-ripple">-->
<!--                    <div class="mat-ripple-element mat-checkbox-persistent-ripple">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="mat-checkbox-frame">-->

<!--                  </div>-->
<!--                  <div class="mat-checkbox-background">-->
<!--                    <svg version="1.1" focusable="false" viewBox="0 0 24 24" xml:space="preserve" class="mat-checkbox-checkmark">-->
<!--                      <path fill="none" stroke="white" d="M4.1,12.7 9,17.6 20.3,6.3" class="mat-checkbox-checkmark-path">-->

<!--                      </path>-->
<!--                    </svg>-->
<!--                    <div class="mat-checkbox-mixedmark">-->

<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
                <span class="mat-checkbox-label">
                  <span style="display: none;">
                    &nbsp;
                  </span>
                  Remember Me
                </span>
              </label>
              <a class="forgot-password ng-tns-c167-53" href="/pages/auth/forgot-password"> Forgot Password? </a>
            </mat-checkbox>


            <button
              mat-raised-button
              color="primary"
              class="login-button">
              Sign In
            </button>

            <button
              mat-raised-button
              class="login-button1">
              Login with Google
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Sign Up">
        <mat-card-content>
          <form class="sign-up-form" novalidate #signUpForm="ngForm" (ngSubmit)="onSubmit2(signUpForm)">
            <mat-form-field>
              <input
                matInput
                placeholder="User Name"
                required
                minlength="6"
                maxlength="32"
                [pattern]="usernamePattern"
                name="username"
                [(ngModel)]="userInfor.username"
                #username="ngModel">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="username.touched && !username.valid">
                <span *ngIf="username.errors.required">Username is required</span>
                <span *ngIf="username.errors.minlength || username.errors.maxlength">Length from 6 to 32 characters</span>
                <span *ngIf="!(username.errors.minlength || username.errors.maxlength) && username.errors.pattern">Only alphabet</span>
              </mat-error>

            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                name="email"
                [pattern]="emailPattern"
                [(ngModel)]="userInfor.email"
                #email="ngModel">
              <mat-error *ngIf="email.touched && !email.valid">
                <span *ngIf="email.errors.required">Email is required</span>
                <span *ngIf="email.errors.pattern">Example: A@yahoo.com or A@gmail.com</span>
              </mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="6"
                maxlength="32"
                [pattern]="passwordPattern"
                [(ngModel)]="userInfor.password"
                name="password"
                #password="ngModel">
              <mat-error *ngIf="password.touched && !password.valid">
                <span *ngIf="password.errors.required">Password is required</span>
                <span *ngIf="password.errors.minlength || password.errors.maxlength">Length from 6 to 32 characters</span>
                <span *ngIf="!(password.errors.minlength || password.errors.maxlength) && password.errors.pattern">
                  Only alphabet, digit and at least one of !@#$%^&*
                </span>
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>

            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="6"
                name="repassword"
                [(ngModel)]="userInfor.password"
                #repassword="ngModel">
              <mat-error *ngIf="repassword.touched && !repassword.valid">
                <span *ngIf="repassword.errors.required">Password is required</span>
                <span *ngIf="repassword.errors.minlength || repassword.errors.maxlength">Length from 6 to 32 characters</span>
                <span *ngIf="!(repassword.errors.minlength || repassword.errors.maxlength) && repassword.errors.pattern">
                  Only alphabet, digit and at least one of !@#$%^&*
                </span>
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

<!--            <mat-radio-group  name="gender" required [(ngModel)]="userInfor.gender" #gender="ngModel" class="example">-->
<!--              <mat-radio-button value="Male">Male</mat-radio-button>-->
<!--              <mat-radio-button value="Female">Female</mat-radio-button>-->
<!--            </mat-radio-group>-->
<!--            <mat-form-field appearance="fill" [(ngModel)]="userInfor.birthday">-->
<!--              <mat-label>Choose a date</mat-label>-->
<!--              <input matInput [matDatepicker]="picker">-->
<!--              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--              <mat-datepicker #picker></mat-datepicker>-->
<!--            </mat-form-field>-->
            <button
              mat-raised-button
              color="primary"
              class="login-button">
              Sign Up
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
